<div class="parent">
  <div class="child1">
    <h3><b>Spur</b></h3>
    <br />
    <h3><b>Dashboard</b></h3>
    <h3><b>data-binding</b></h3>
    <h3 routerLink="item"><b>item</b></h3>
    <h3 routerLink="typi"><b>typi</b></h3>
<h3 routerLink="todos"><b>todos</b></h3>
    <h3 routerLink="cars"><b>cars</b></h3>
        <h3 routerLink="gpay"><b>gpay</b></h3>
        <h3 routerLink="demo"><b>demo</b></h3>
                <h3 routerLink="idcard"><b>idcard</b></h3>
                <h3 routerLink="parent">parent</h3>
                <h3 routerLink="child">child</h3>
                <h3 routerLink="nav">nav</h3>
                <h3 routerLink="product">product</h3>
                <h3 routerLink="cartlist">cartlist</h3>
    <h3><b>Charts</b></h3>
    <h3><b>Event-Binding</b></h3>
    <h3><b>two-way-Binding</b></h3>
    <h3><b>Components</b></h3>
    <h3 routerLink="cart"><b>cart</b></h3>
    <h3 routerLink="rectangle"><b>Rectangle</b></h3>
    <h3 routerLink="emp"><b>Emp</b></h3>
    <h3><b>Square</b></h3>
    <h3 routerLink="student-registration"><b>student-registration</b></h3>
    <h3 routerLink="square"><b>Layouts</b></h3>
    <h3><b>About</b></h3>
    <h1 routerLink="registrarion">registrarion</h1>
    <div class="logout">
      <button (click)="logout()">Log Out</button>
    </div>
  </div>
  <div class="child2">
    <router-outlet></router-outlet>
  </div>
</div>
