.parent {
  width: 100vw;
  height: 100vh;
  display: flex;
}
.child1 {
  width: 26%;
  height: 220vh;
  background-color: rgba(23,31,44,255);
  overflow: scroll;
}
.child2 {
  overflow: auto;
  width: 85%;
  height: 100%;
  padding-left: 10px;
}
h3 {
  display: flex;
  justify-content: center;
  color: greenyellow;
  margin: 15px;
}
.logout{
    display: flex;
    justify-content: center;
}
h3 :hover{
  color: rgb(254, 74, 3);

}