<select>
  <option>Vehicle</option>
  <option>manufacturer</option>
  <option>model</option>
  <option>type  </option>
<option>fuel</option>
<option>color</option>
</select>

<select [(ngModel)]="order">
  <option>asc</option>
  <option>desc</option>

<button>sort</button>

</select>






<table class="table" style="background-color: gray">
  <thead>

  </thead>
  <tbody>
    <tr *ngFor="let vehicle of vehicles" class="a">
        <td>{{vehicle.Vehicle}}</td>
        <td>{{vehicle.manufacturer}}</td>
        <td>{{vehicle.model}}</td>
        <td>{{vehicle.type}}</td>
        <td>{{vehicle.fuel}}</td>
        <td>{{vehicle.color}}</td>
        <td><button (click)="delete(vehicle.id)">Delete</button></td>
        <button (click)="view(vehicle.id)">View</button>
    </tr>
  </tbody>

</table>

<ul class="pagination">
  <li class="page-item" (click)="page(1)"><a class="page-link">1</a></li>
  <li class="page-item" (click)="page(2)"><a class="page-link">2</a></li>
  <li class="page-item" (click)="page(3)"><a class="page-link">3</a></li>
</ul>